<a href="https://colab.research.google.com/github/yangguang931230/AALU_t2/blob/main/classification_0_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_breast_cancer 
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

import matplotlib.pyplot as plt

In [10]:
from google.colab import drive
drive.mount('/content/drive')
PATH = "/content/drive/My Drive/AAPythonTutorial/classification/NPC.csv"

read_csv = pd.read_csv(PATH)
NBtype = pd.DataFrame(read_csv)
NBtype

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

     0  1  2  3  ...  Pop16_59  Pop60_  WorkPopulation  Target
0    4  5  3  1  ...      1293     395         1276.00       1
1    3  1  5  1  ...      1715     208         1685.50       2
2    2  5  2  1  ...      1036     116         1018.00       1
3    2  3  1  1  ...      1195     142         1205.00       1
4    5  4  4  4  ...      1016     348         1018.25       0
..  .. .. .. ..  ...       ...     ...             ...     ...
101  2  5  1  1  ...      1117     203         1076.00       1
102  1  1  4  4  ...       596     110          637.50       2
103  2  4  3  1  ...      1097     201         1085.75       1
104  3  2  3  5  ...      1783     188         1777.00       3
105  3  4  1  4  ...      1008     254         1008.25       1

[106 rows x 59 columns]

In [11]:
NBtypec = pd.read_csv(PATH, skiprows = 1, header = None) 

NBtypec

     0   1   2   3      4       5   ...    53   54    55   56       57  58
0     4   5   3   1   47.5  17.875  ...  2217  529  1293  395  1276.00   1
1     3   1   5   1  107.6  24.019  ...  2296  373  1715  208  1685.50   2
2     2   5   2   1   64.2  28.548  ...  1424  272  1036  116  1018.00   1
3     2   3   1   1   56.7   8.667  ...  1600  263  1195  142  1205.00   1
4     5   4   4   4  107.6  20.417  ...  1634  270  1016  348  1018.25   0
..   ..  ..  ..  ..    ...     ...  ...   ...  ...   ...  ...      ...  ..
101   2   5   1   1   70.4  29.292  ...  1705  385  1117  203  1076.00   1
102   1   1   4   4  243.6  13.584  ...   802   96   596  110   637.50   2
103   2   4   3   1  136.8  38.758  ...  1657  359  1097  201  1085.75   1
104   3   2   3   5   98.2  17.250  ...  2339  368  1783  188  1777.00   3
105   3   4   1   4   57.9  30.774  ...  1674  412  1008  254  1008.25   1

[106 rows x 59 columns]

In [30]:
#print(NBtype.columns.values)
#print(NBtype)
#print(list(NBtype['Target']))
#print(NBtype.columns.values)
#print(NBtype.loc[0])
NBclear = NBtype.iloc[:,:58]

NBc = NBclear.to_numpy()
#NBtype_np

In [53]:
#label_names = NBtype.columns.values[17]
label_names = ['tpye0','type1','type2','type3']
labels = np.array(NBtype['Target'])
feature_names = NBtype[NBtype.columns.values]
features = NBc
labels.shape
#print(NBtype["Target"])
'''label_names = NBtype[NBtype.columns.values]
labels = NBtype['Target']'''
'''
label_names = data['target_names']
labels = data['target']
feature_names = data['feature_names']
features = data['data']'''

print(labels.shape)
#print('Class label = ', labels[0])
#print(feature_names)

(106,)

In [42]:
NBtype.shape

(106, 59)

In [43]:
features.shape

(106, 58)

In [44]:
labels.shape

(106,)

In [48]:
train, test, train_labels, test_labels = train_test_split(features,
                                                          labels,
                                                          test_size=0.33, # 0.25 by default, here set to train : test = 2 : 1
                                                          random_state=27) # Initialise pseudo random

In [46]:
gnb = GaussianNB()

model = gnb.fit(train, train_labels)

preds = gnb.predict(test)
print(preds)
print(int(len(preds)))

[1 3 0 1 1 0 2 0 0 2 3 0 2 2 0 0 3 2 2 0 0 1 1 2 1 3 1 0 0 1 1 1 0 3 2]
35

In [47]:
print(accuracy_score(test_labels, preds))

0.45714285714285713